
@{
    Layout = "_LayoutCart";
}

<h2>Your Shopping Cart</h2>

<div class="shopping-cart">
    @if (Model.Any())
    {
        <div class="cart-items">
            @foreach (var cartItem in Model)
            {
                <div class="card">
                    <img src="@cartItem.Shoe.ImageUrl" alt="@cartItem.Shoe.Name" width="100" class="shoe-image">
                    <h3 class="shoe-name">@cartItem.Shoe.Name</h3>
                    <p class="shoe-price">$ @cartItem.Shoe.Price</p>
                    <p>Quantity: 
                        <input type="number" min="1" value="@cartItem.Quantity" />
                    </p>
                    <a href="@Url.Action("RemoveFromCart", "Cart", new { id = cartItem.Shoe.Id })">Remove</a>
                </div>
            }
        </div>

        <a href="@Url.Action("Checkout", "Cart")" class="order-now">order-now</a>

    }
    else
    {
        <p>Your cart is empty.</p>
    }
</div>